@import "tailwindcss";

body {
  background-color: #ededed;
}

@keyframes toast-enter {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-toast-enter {
  animation: toast-enter 0.5s ease-out;
}

@keyframes toast-exit {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
.animate-toast-exit {
  animation: toast-exit 0.5s ease-in;
}
